* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1 {
    font-size: 50px;
    font-weight: lighter;
    margin: 20px;
    padding-bottom: 20px;
    text-align: center;
}

#patch {
    position: relative;
    height: 11%;
    width: 11%; 
    left:   65px;
    padding-top: 100px;
    float: left;
}

#patch2 {
    position: relative;
    height: 11%;
    width: 11%;
    right: 65px;
    padding-top: 100px;
    float: right;
}

body {
    background-color: rgb(215, 215, 215);
    font-family: Arial;
    font-size: 17px;
    color: rgb(31, 30, 30);
}

.container {
    width: 1140px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 100px 20px;
    background-color: rgb(240, 240, 240);
    border-radius: 15px;
    box-shadow: 0px 10px 30px #0000003d;
}

.form {
    padding: 0;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 600px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

section {
    padding: 20px;
    width: 300px;
    background: #eee;
}

#ceremony-date {
    font-family: Arial;
    font-size: 15px;
    /*width: 196px;*/
    color: rgb(31, 30, 30);
}

.row-header {
    font-weight: bold;
    font-size: 18px;
}

label {
    display: table-row;
}

select,
input {
    font-size: 16px;
    line-height: 1.5rem;
    padding: 5px;
    background: rgb(215, 215, 215);
    border-style: none;
    transition: all .3s;
    width: 260px;
    margin: 7px 0;
}

input:focus {
    outline: 2px solid #0000F3;
    transition: all .1s;
}

#final-product {
    width: 150px;
    color: white;
    background: #e4082c;
    border: none;
    border-radius: 500px;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 800;
    padding: 10px;
    margin: 40px 300px 15px 300px;
    
    transition: all .6s;

}

#final-product:hover {
    background: #333;
    transition: all .3s;
}

p {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    line-height: 150%;
}

#script {

    display: none;

}

.indent {
    text-indent: 40px;
}

.ceremony-part {
    color: blue;
    font-size: 20px;
}

.narrator {
    -webkit-text-emphasis: bold;
    text-emphasis: bold;
}

span {
    text-transform: uppercase;
}

.no-labels {
    display: none;
}
